<%= form_with(model: reception, local: true) do |form| %>
  <% if reception.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reception.errors.count, "error") %> prohibited this reception from being saved:</h2>

      <ul>
      <% reception.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select(:user_id, [current_user], :id, :email) %>
  </div>

  <div class="field">
    <%= form.text_field :scheduling_id, hidden: true %>
  </div>

  <div class="field">
    <%= form.label :document_number %>
    <%= form.text_field :document_number %>
  </div>

  <div class="field">
    <%= form.label :origin_place %>
    <%= form.text_field :origin_place %>
  </div>

  <div class="field">
    <%= form.label :vehicle_patent %>
    <%= form.text_field :vehicle_patent %>
  </div>

  <div class="field">
    <%= form.label :reference_text %>
    <%= form.text_field :reference_text %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
