<p id="notice"><%= notice %></p>

<h1>Receptions</h1>

<table>
  <thead>
    <tr>
      <th>Scheduling</th>
      <th>Document number</th>
      <th>Origin place</th>
      <th>Vehicle patent</th>
      <th>Reference text</th>
      <th>Comment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receptions.each do |reception| %>
      <tr>
        <td><%= reception.scheduling.id %></td>
        <td><%= reception.document_number %></td>
        <td><%= reception.origin_place %></td>
        <td><%= reception.vehicle_patent %></td>
        <td><%= reception.reference_text %></td>
        <td><%= reception.comment %></td>
        <td><%= reception.user.email %></td>
        <td><%= link_to 'Show', reception %></td>
        <td><%= link_to 'Edit', edit_reception_path(reception) %></td>
        <td><%= link_to 'Destroy', reception, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reception', new_reception_path %>
