<p id="notice"><%= notice %></p>

<%= form_for :search, method: :get do |f| %>
  <%= f.date_field :day, value: Time.now %>
  <%= f.submit 'Search' %> 
<% end %>

<table>
  <thead>
    <tr>
      <th>Scheduling</th>
      <th>Creado</th>
      <th>Document number</th>
      <th>Origin place</th>
      <th>Vehicle patent</th>
      <th>Reference text</th>
      <th>Comment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receptions.each do |reception| %>
      <tr>
        <td><%= reception.scheduling.id %></td>
        <td><%= reception.created_at.strftime("%d-%m-%Y") %></td>
        <td><%= reception.document_number %></td>
        <td><%= reception.origin_place %></td>
        <td><%= reception.vehicle_patent %></td>
        <td><%= reception.reference_text %></td>
        <td><%= reception.comment %></td>
        <td><%= reception.user.email %></td>
        <td><%= button_to 'Iniciar/Ver detalle', reception, method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
