<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Agendamiento</th>
      <th>N° Documento</th>
      <th>Lugar de origen</th>
      <th>Patente vehiculo</th>
      <th>Referencia</th>
      <th>Comentarios</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @reception.scheduling.id %></td>
        <td><%= @reception.document_number %></td>
        <td><%= @reception.origin_place %></td>
        <td><%= @reception.vehicle_patent %></td>
        <td><%= @reception.reference_text %></td>
        <td><%= @reception.comment %></td>
        <td><%= @reception.user.email %></td>
        <td><%= link_to 'Edit', edit_reception_path(@reception) %></td>
        <td><%= link_to 'Back', receptions_path %></td>
      </tr>
  </tbody>
</table>
</br>
<table>
  <thead>
    <tr>
      <th>Pallet number</th>
      <th>Product</th>
      <th>Location</th>
      <th>Origin qty</th>
      <th>Reserved qty</th>
      <th>Available qty</th>
      <th>Exp date</th>
      <th>Batch</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reception.pallets.each do |pallet| %>
      <tr>
        <td><%= pallet.pallet_number %></td>
        <td><%= pallet.product.code_description %></td>
        <td><%= pallet.location.location_full_name %></td>
        <td><%= pallet.origin_qty %></td>
        <td><%= pallet.reserved_qty %></td>
        <td><%= pallet.available_qty %></td>
        <td><%= pallet.exp_date %></td>
        <td><%= pallet.batch %></td>
        <td><%= pallet.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "pallets/form" %>