<p id="notice"><%= notice %></p>

<p>
  <strong>Scheduling:</strong>
  <%= @reception.scheduling.id %>
</p>

<p>
  <strong>Document number:</strong>
  <%= @reception.document_number %>
</p>

<p>
  <strong>Origin place:</strong>
  <%= @reception.origin_place %>
</p>

<p>
  <strong>Vehicle patent:</strong>
  <%= @reception.vehicle_patent %>
</p>

<p>
  <strong>Reference text:</strong>
  <%= @reception.reference_text %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @reception.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @reception.user.email %>
</p>

<%= link_to 'Edit', edit_reception_path(@reception) %> |
<%= link_to 'Back', receptions_path %>


<table>
  <thead>
    <tr>
      <th>Pallet number</th>
      <th>Product</th>
      <th>Location</th>
      <th>Origin qty</th>
      <th>Reserved qty</th>
      <th>Available qty</th>
      <th>Exp date</th>
      <th>Batch</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reception.pallets.each do |pallet| %>
      <tr>
        <td><%= pallet.pallet_number %></td>
        <td><%= pallet.product.code_description %></td>
        <td><%= pallet.location.location_full_name %></td>
        <td><%= pallet.origin_qty %></td>
        <td><%= pallet.reserved_qty %></td>
        <td><%= pallet.available_qty %></td>
        <td><%= pallet.exp_date %></td>
        <td><%= pallet.batch %></td>
        <td><%= pallet.status %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= render "pallets/form" %>