<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Agendamiento</th>
      <th>N° Documento</th>
      <th>Lugar de origen</th>
      <th>Patente vehiculo</th>
      <th>Referencia</th>
      <th>Comentarios</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @reception.scheduling.id %></td>
        <td><%= @reception.document_number %></td>
        <td><%= @reception.origin_place %></td>
        <td><%= @reception.vehicle_patent %></td>
        <td><%= @reception.reference_text %></td>
        <td><%= @reception.comment %></td>
        <td><%= @reception.user.email %></td>
        <td><%= link_to 'Atrás', receptions_path %></td>
        <td></td>
      </tr>
  </tbody>
</table>

<h2>Pallets recepcionados: <%= @reception.pallets.count %></h2>

<% if @scheduling.status == 'approved' || @scheduling.status == 'pending' %>
  <%= render "pallets/form" %>
  <%= button_to 'Finalizar Recepcion', scheduling_path(@scheduling, scheduling: {status: 'finished'}), method: :put %>
<% end %>

</br>

<table>
  <thead>
    <tr>
      <th>Numero de Estiba</th>
      <th>Producto Descripcion</th>
      <th>Ubicación</th>
      <th>Cantidad de Origen</th>
      <th>Cantidad Reservada</th>
      <th>Cantidad Disponible</th>
      <th>Fecha de Vencimiento</th>
      <th>Lote</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @reception.pallets.each do |pallet| %>
      <tr>
        <td><%= pallet.pallet_number %></td>
        <td><%= pallet.product.code_description %></td>
        <td><%= pallet.location.location_full_name %></td>
        <td><%= pallet.origin_qty %></td>
        <td><%= pallet.reserved_qty %></td>
        <td><%= pallet.available_qty %></td>
        <td><%= pallet.exp_date %></td>
        <td><%= pallet.batch %></td>
        <td><%= pallet.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
