<p id="notice"><%= notice %></p>

<h1>Pallet Locations</h1>

<table>
  <thead>
    <tr>
      <th>Pallet</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pallet_locations.each do |pallet_location| %>
      <tr>
        <td><%= pallet_location.pallet.pallet_number %></td>
        <td><%= pallet_location.location.location_full_name %></td>
        <td><%= link_to 'Show', pallet_location %></td>
        <td><%= link_to 'Edit', edit_pallet_location_path(pallet_location) %></td>
        <td><%= link_to 'Destroy', pallet_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pallet Location', new_pallet_location_path %>
