<p id="notice"><%= notice %></p>

<p>
  <strong>Pallet:</strong>
  <%= @pallet_location.pallet %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pallet_location.location %>
</p>

<%= link_to 'Edit', edit_pallet_location_path(@pallet_location) %> |
<%= link_to 'Back', pallet_locations_path %>
