<%= form_with(model: pallet_assignment, local: true) do |form| %>
  <% if pallet_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pallet_assignment.errors.count, "error") %> prohibited this pallet_assignment from being saved:</h2>

      <ul>
      <% pallet_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pallet_id %>
    <%= form.text_field :pallet_id %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.collection_select(:location_id, Location.where(available: true), :id, :location_full_name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
