<p id="notice"><%= notice %></p>

<p>
  <strong>Pallet:</strong>
  <%= @pallet_assignment.pallet.pallet_number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pallet_assignment.location.location_full_name %>
</p>

<%= link_to 'Edit', edit_pallet_assignment_path(@pallet_assignment) %> |
<%= link_to 'Back', pallet_assignments_path %>
