<%= form_for([@reception, Pallet.new], remote: true, html: { id:"pallets-form "}) do |form| %>

  <div class="field">
    <%= form.label :reception_id %>
    <%= form.collection_select(:reception_id, [@reception], :id, :document_number) %>
  </div>

  <div class="field">
    <%= form.label :pallet_number %>
    <%= form.text_field :pallet_number %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.collection_select(:product_id, Product.all, :id, :code_description) %>
  </div>

  <div class="field">
    <%= form.label :origin_qty %>
    <%= form.number_field :origin_qty %>
  </div>

  <div class="field">
    <%= form.label :reserved_qty %>
    <%= form.number_field :reserved_qty %>
  </div>

  <div class="field">
    <%= form.label :available_qty %>
    <%= form.number_field :available_qty %>
  </div>

  <div class="field">
    <%= form.label :exp_date %>
    <%= form.date_select :exp_date %>
  </div>

  <div class="field">
    <%= form.label :batch %>
    <%= form.text_field :batch %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
