

<%= form_for([@reception, Pallet.new], remote: true, html: { id:"pallets-form "}) do |form| %>

  <div class="field">
    <%= form.label :reception_id %>
    <%= form.collection_select(:reception_id, [@reception], :id, :document_number) %>
  </div>

  <div class="field">
    <%= form.label 'Numero de Estiba' %>
    <%= form.text_field :pallet_number %>
  </div>

  <div class="field">
    <%= form.label 'Codigo de Producto' %>
    <%= form.collection_select(:product_id, Product.all, :id, :code_description, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label 'Cantidad recibida' %>
    <%= form.number_field :origin_qty %>
  </div>

  <div class="field">
    <%= form.label 'Fecha de vencimiento' %>
    <%= form.date_select :exp_date %>
  </div>

  <div class="field">
    <%= form.label 'Lote' %>
    <%= form.text_field :batch %>
  </div>

  <div class="actions">
    <%= form.submit 'Crear Pallet' %>
  </div>
<% end %>
