<p id="notice"><%= notice %></p>

<h1>Pallets</h1>

<table>
  <thead>
    <tr>
      <th>Reception</th>
      <th>Pallet number</th>
      <th>Product</th>
      <th>Location</th>
      <th>Origin qty</th>
      <th>Reserved qty</th>
      <th>Available qty</th>
      <th>Exp date</th>
      <th>Batch</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pallets.each do |pallet| %>
      <tr>
        <td><%= pallet.reception.id %></td>
        <td><%= pallet.pallet_number %></td>
        <td><%= pallet.product.code %></td>
        <td><%= pallet.location.location_full_name %></td>
        <td><%= pallet.origin_qty %></td>
        <td><%= pallet.reserved_qty %></td>
        <td><%= pallet.available_qty %></td>
        <td><%= pallet.exp_date %></td>
        <td><%= pallet.batch %></td>
        <td><%= pallet.status %></td>
        <td><%= link_to 'Edit', edit_pallet_path(pallet) %></td>
        <td><%= link_to 'Destroy', pallet, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
