<p id="notice"><%= notice %></p>

<h3>Buscar por Tarja</h3>

<%= form_tag(pallets_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Buscar" %>
  <%= submit_tag "Buscar", :name => nil %>
<% end %>

<h1>Pallets</h1>
<h2>Pallets en CD: <%=@pallets.count%></h2>
<table>
  <thead>
    <tr>
      <th>Recepcíon ID</th>
      <th>Ingresado</th>
      <th>N° UE</th>
      <th>Código</th>
      <th>Descripción</th>
      <th>Ubicación</th>
      <th>Cantidad origen</th>
      <th>Cantidad reservada</th>
      <th>Cantidad disponible</th>
      <th>Elaboración</th>
      <th>Vencimiento</th>
      <th>Lote</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pallets.each do |pallet| %>
      <tr>
        <td><%= pallet.reception.id %></td>
        <td><%= pallet.created_at.strftime('%d-%m-%Y') %></td>
        <td><%= pallet.pallet_number %></td>
        <td><%= pallet.product.code %></td>
        <td><%= pallet.product.description %></td>
        <td><%= pallet.pallet_locations.last.location.location_full_name %></td>
        <td><%= pallet.origin_qty %></td>
        <td><%= pallet.reserved_qty %></td>
        <td><%= pallet.available_qty %></td>
        <td><%= pallet.elab_date.strftime('%d-%m-%Y') %></td>
        <td><%= pallet.exp_date.strftime('%d-%m-%Y') %></td>
        <td><%= pallet.batch %></td>
        <td><%= pallet.status %></td>
        <td><%= if current_user.email == 'arodriguez@goldenfrost.cl' then link_to 'Editar', edit_pallet_path(pallet) end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
