<p id="notice"><%= notice %></p>

<h3>Buscar por Tarja</h3>

<%= form_tag(pallets_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Buscar" %>
  <%= submit_tag "Buscar", :name => nil %>
<% end %>

<h1>Pallets</h1>
<h2>Pallets en CD: <%=@pallets.count%></h2>
<table>
  <thead>
    <tr>
      <th>Reception</th>
      <th>Pallet number</th>
      <th>Product</th>
      <th>Description</th>
      <th>Location</th>
      <th>Origin qty</th>
      <th>Reserved qty</th>
      <th>Available qty</th>
      <th>Elab date</th>
      <th>Exp date</th>
      <th>Batch</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pallets.each do |pallet| %>
      <tr>
        <td><%= pallet.id %></td>
        <td><%= pallet.pallet_number %></td>
        <td><%= pallet.product.code %></td>
        <td><%= pallet.product.description %></td>
        <td><%= pallet.location.id %></td>
        <td><%= pallet.origin_qty %></td>
        <td><%= pallet.reserved_qty %></td>
        <td><%= pallet.available_qty %></td>
        <td><%= pallet.elab_date %></td>
        <td><%= pallet.exp_date %></td>
        <td><%= pallet.batch %></td>
        <td><%= pallet.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
