<p id="notice"><%= notice %></p>

<!--Calendar_seach-->
<%= form_for :search, method: :get do |f| %>
  <%= f.date_field :day, value: @start %>
  <%= f.submit 'Search' %> 
  <h2> <%= "Mostrando agendamientos para: #{@day}" %> </h2>
<% end %>
<!---->
<h2>Agendamientos: <%=@schedulings.count%></h2>
<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Cliente</th>
      <th>Operacion</th>
      <th>Obs/Ref</th>
      <th>Pallets</th>
      <th>Horario</th>
      <th>Andén</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedulings.each do |scheduling| %>
      <tr>
        <td><%= scheduling.user.email %></td>
        <td><%= scheduling.client.name %></td>
        <td><%= scheduling.operation.name %></td>
        <td><%= scheduling.observation %></td>
        <td><%= scheduling.pallets_qty %></td>
        <td><%= scheduling.date.strftime('%H:%M') %></td>
        <td><%= scheduling.door.number %></td>
        <td><%= scheduling.status %></td>
        <% if scheduling.status == 'pending' %>
          <% case scheduling.operation.name %>
            <% when 'RECEPCION'%>
              <td><%= link_to "Iniciar #{scheduling.operation.name}", new_reception_path(:reception => {scheduling_id: scheduling.id}) %></td>
            <% when 'DESPACHO'%>
              <!--<td><%= link_to "Iniciar #{scheduling.operation.name}", new_reception_path(:dispatch => {scheduling_id: scheduling.id}) %></td>-->
            <td>-</td>
          <% end %>
          <td><%= link_to 'Editar', edit_scheduling_path(scheduling) %></td>
          <td><%= link_to 'Eliminar', scheduling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nuevo Agendamiento', new_scheduling_path, method: :get %>
