<p id="notice"><%= notice %></p>

<h1>Products</h1>

<h3>Buscar por Codigo de barra</h3>

<%= form_tag(products_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Buscar" %>
    <%= submit_tag "Buscar", :name => nil %>
<% end %>

</br>
<%= button_to 'Nuevo Producto', new_product_path, method: :get %>
</br>
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Client code</th>
      <th>Innerpack</th>
      <th>Ean13</th>
      <th>Dun14</th>
      <th>Aux code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.description %></td>
        <td><%= product.client_code %></td>
        <td><%= product.innerpack %></td>
        <td><%= product.ean13 %></td>
        <td><%= product.dun14 %></td>
        <td><%= product.aux_code %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <!--<td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>


