<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Client code:</strong>
  <%= @product.client_code %>
</p>

<p>
  <strong>Innerpack:</strong>
  <%= @product.innerpack %>
</p>

<p>
  <strong>Ean13:</strong>
  <%= @product.ean13 %>
</p>

<p>
  <strong>Dun14:</strong>
  <%= @product.dun14 %>
</p>

<p>
  <strong>Aux code:</strong>
  <%= @product.aux_code %>
</p>

<div class="field">
  <strong>Ubicaciones asignadas:</strong>
  <% @product_locations.each do |location| %>
    <p><%= location.location.location_full_name %></p>
  <% end %>  
</div>

<!--<%= link_to 'Edit', edit_product_path(@product) %>-->
<%= link_to 'Back', products_path %>
