<%= form_with(model: @product_location, local: true) do |form| %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.collection_select(:product_id, Product.all, :id, :code_description) %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.collection_select(:location_id, Location.all, :id, :location_full_name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>


