<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_location.product.code_description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product_location.location.location_full_name %>
</p>

<%= link_to 'Edit', edit_product_location_path(@product_location) %> |
<%= link_to 'Back', product_locations_path %>
