<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Pasillo" %>
    <%= form.collection_select(:passage_id, Passage.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :slot_id %>
    <%= form.collection_select(:slot_id, Slot.all, :id, :number) %>
  </div>

  <div class="field">
    <%= form.label "Nivel"%>
    <%= form.collection_select(:level_id, Level.all, :id, :number) %>
  </div>


  <div class="field">
    <%= form.label "Slot para:"%>
    <%= form.collection_select(:product_id, Product.all, :id, :code_description) %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Ubicación" %>
  </div>
<% end %>
