<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Pasillo" %>
    <%= form.select :passage, options_for_select(["A","B","C","D","E","F","G"]) %>
  </div>

  <div class="field">
    <%= form.label :slot %>
    <%= form.select :slot, options_for_select((1..50)) %>
  </div>

  <div class="field">
    <%= form.label "Nivel" %>
    <%= form.select :level, options_for_select((1..6)) %>
  </div>

  <div class="field">
    <%= form.label "Slot para:"%>
    <%= form.collection_select(:product_id, Product.all, :id, :code_description, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label "disponible"%>
    <%= form.select :available, options_for_select([false, true]) %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Ubicación" %>
  </div>
<% end %>
