<h1>Editing Location</h1>

<%= form_with(model: @location, local: true) do |form| %>

  <div class="field">
    <%= form.label "Pasillo" %>
    <%= form.text_field :passage, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :slot %>
    <%= form.text_field :slot, disabled: true %>
  </div>

  <div class="field">
    <%= form.label "Nivel" %>
    <%= form.text_field :level, disabled: true %>
  </div>

  <div class="field">
    <%= form.label "Slot para:"%>
    <%= form.collection_select(:product_id, Product.all, :id, :code_description, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label "disponible"%>
    <%= form.select :available, options_for_select([false, true]) %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Ubicación" %>
  </div>
<% end %>

<%= link_to 'Show', @location %>
<%= link_to 'Back', locations_path %>
