<p id="notice"><%= notice %></p>

<p>
  <strong>Pasillo:</strong>
  <%= @location.passage %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @location.slot %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @location.level %>
</p>

<p>
  <strong>Disponible:</strong>
  <%= @location.available %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
